#table-wrapper {
    background-color: white;
    padding: 30px 50px;
    border-radius: 3px;
    border: 1px solid #2F4550;
}

table {
    border-collapse: collapse;
}

table thead {
    color: #586F7C;
}

table td {
    padding: 6px 14px;
}

table tr{ 
    height: 30px;
    border-bottom: 1px solid #2F4550;
}

table tbody tr:last-of-type {
    border-bottom: none;
}

table .post-id {
    width: 100px;
}

table .author {
    width: 150px;
}

table .post-name {
    width: 150px;
}

table .post-date {
    width: 200px;
}

table .post-action {
    width: 200px;
}

table .post-action a,
table .post-action form {
    float: left;
}

table .post-action a {
    margin-right: 15px;
}

table .post-action a,
table .post-action form input {
    color: black;
    text-decoration: none;
    padding: 6px 14px;
    font-size: 14px;
    background-color: #F4F4F9;
    border: 1px solid #2F4550;
    border-radius: 3px;
}

table .post-action a:hover,
table .post-action form input:hover {
    background-color: #B8DBD9;
}