* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

form input[type="submit"] {
    cursor: pointer;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

/* --------------------- */

header{
    background-color: #586F7C;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#logo {
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: default;
    user-select: none;
}

#user {
    min-width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

#user span {
    line-height: 50px;
    margin-right: 25px;
}

#user form[action="/logout"] {
    margin-right: 25px;
}

#user form[action="/logout"] input[type="submit"] {
    cursor: pointer;
    padding: 6px 14px;
    background-color: #F4F4F9;
    border: 1px solid #2F4550;
    border-radius: 3px;
}

#user form[action="/logout"] input[type="submit"]:hover {
    background-color: #B8DBD9;
}

/* --------------------- */

main{
    background-color: #F4F4F9;
    flex-grow: 1;
}

/* --------------------- */

#left-side-bar {
    background-color: #2F4550;
    width: 250px;
    height: 100%;
    float: left;
}

#links {
    list-style: none;
    user-select: none;
}

#links li {
    width: 250px;
    height: 50px;
    display: inline-block;
    text-align: center;
}

#links li:hover {
    background-color: #B8DBD9;
}

#links li:hover a {
    color: #2F4550;
}

#links a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    line-height: 50px;
    width: 250px;
    height: 50px;
    display: block;
}

/* --------------------- */

#container {
    height: 100%;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

/* --------------------- */

footer {
    height: 50px;
    background-color: #586F7C;
    color: #F4F4F9;
    text-align: center;
}

footer #copyright {
    line-height: 50px;
    text-decoration: none;
    color: white;
}

/* --------------------- */
