form[action="/login"] {
    margin-left: -250px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

form[action="/login"] input {
    padding: 10px 14px;
    margin-bottom: 15px;
    border-radius: 3px;
}

form[action="/login"] input[placeholder] {
    border: 1px solid #586F7C;
}

form[action="/login"] input[type="submit"] {
    background-color: #B8DBD9;
}

form[action="/login"] input[type="submit"]:hover {
    background-color: #2F4550;
    color: white;
    cursor: pointer;
}
