form[action="/admin/user/add"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
}

form[action="/admin/user/add"] input {
    padding: 10px 14px;
    margin-bottom: 15px;
    border-radius: 3px;
}

form[action="/admin/user/add"] input[type="submit"] {
    background-color: #B8DBD9;
    cursor: pointer;
}

form[action="/admin/user/add"] input:last-of-type {
    margin-bottom: 0;
}

form[action="/admin/user/add"] input[type="submit"]:hover {
    background-color: #2F4550;
    color: white;
    cursor: pointer;
}

form[action="/admin/user/add"] input[placeholder] {
    border: 1px solid #586F7C;
}
