div#news-list{
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    min-height: 7vh;
    margin: 10px auto;
}
div#news-list div{
    margin-left: 15px;
}
div#news-list div a{
    font-size: 18px;
    text-decoration: none;
    color: black;
}
div#news-list a{
    text-decoration: none;
    color: black;
}