body{
    max-width: 95vw;
    margin: 5px auto;
}
header{
    border: 1px solid black;
    box-shadow: 2px 1px 2px 2px black;
    text-align: center;
    min-height: 15vh;
}
header h1{
    font-style: oblique;
    font-family:"French Script MT" ;
    font-size: 64px;
}
main{
    margin-top: 12px;
    min-height: 72vh;
    max-width: 95vw;
    box-shadow: 2px 1px 2px 2px black;
    border: 1px solid black;
}
main div#news-list div{
    display: flex;
    align-items: center;
    min-height: 55px;
}
main div#news-list div a{
    text-decoration: underline;
    font-size: 25px;
    font-weight: 600;
}
main div#form{
    display: flex;
    justify-content: center;
    padding-top: 24vh;
}
main div form{
    display: flex;
    flex-direction: column;
    max-width: 30vw;
}
main div form input{
    margin: 10px auto;
}
main div form input[type='text']{
    margin-left: 22px;
}
main div form input[name='repeat']{
    margin-left: 7px;
}
footer{
    margin-top: 15px;
    min-height: 8vh;
    max-width: 95vw;
    box-shadow: 2px 1px 2px 2px black;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: black;
}